{% extends 'layout.html' %}

{% block title %}
    Inicio
{% endblock %}

{% block content %}

    <h1>Página de inicio</h1>

    {% with messages = get_flashed_messages(with_categories=true) %} {# Recuperando los mensajes flash con categorías incluidas, lo que permite clasificar los mensajes flash en diferentes categorías. #}
        {% if messages %}
            {% for category, message in messages %}
                <div class="message alert-{{category}}">
                    {{message}}
                </div>
            {%endfor%}
        {% endif %}
    {% endwith %}


    {% include 'includes/edad.html' %}
    {% include 'includes/personas.html' %}

    {#
        {{dato1}}
        {{dato2}}
        {{lista}}
    #}

{% endblock %}